body{
    background-color: #f7f7f7;
    font-family: "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans","FreeSans","Arial","sans-serif" ;
    color: #222;
    line-height: 1.6;
    }

/* NAV BAR CODE (PEYMAN) */


/* SEARCH BOX CODE (SHARAF) */

*:focus {
    outline: none;
}

input { 
    font-size: 38px;
    font-weight: normal;
 }

/* Logo Duck-Duck-Go */

#logo {
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Text Below Logo */

#heading {
    text-align: center;
    padding: 0;
    margin: 0;
    color: #746f6f;
    font-size: 20px;
    font-weight: 2;
    }


/* Search box Code */

#searchbox {
    position: relative;
    text-align: center;
    padding: 0;
   }

#searchbox img {
    position: center;
    top: 0px;
    left: 0px;
    height:20px;
    width: 30px;
    float: right;
}

#searchplace {
    height: 70px;
    width: 40%;
    border-top:thin solid  #e5e5e5;
    border-right:none;
    border-bottom:thin solid #e5e5e5;
    border-left:thin solid  #e5e5e5;
    margin-right: 0px;
    border-radius: 15px 0px 0px 15px;
}

/* Search box Button */

#button:hover {
    background-color: #33ce57;
    color: white;
}

#button {
    position: absolute;
    border-radius: 0;
    background-color: #FFF;
    cursor: pointer;
    height: 74px;
    width: 70px;
    border-top:1px solid  #e5e5e5;
    border-right:2px solid #e5e5e5;
    border-bottom:2px solid #e5e5e5;
    border-radius: 0px 15px 15px 0px;
    border-left:none;
    padding-top: 5px;
    padding-bottom: 8px;
    margin: 0;
    
}

/* Text Below Search Box */

#textbelowsearch {
    text-align: center;
    color: #9a9a9a;
    font-size: 25px;
    font-weight: normal;
    
}

#underline-text:hover{
    border-bottom: 2px solid rgb(0, 110, 255);
}


/* MAIN SECTION CODE (LUBA) */


/* FOOTER CODE (SANDRA) */